.Data {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 40px;
}

.Data li {
  background-color: white;
  padding: 50px;
  border-radius: 3px;
  box-shadow: 10px 10px 5px rgb(161, 159, 159);
  margin-bottom: 20px;
}

.Result {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
